@import 'src/assets/styles/tokens';

.gwb-aim {
  cursor: pointer;

  path {
    fill: #fff;
    transition: $transition;
  }
  text {
    transition: $transition;
  }

  &:hover {
    path {
      fill: $color-secondary-50;
    }
    text {
      fill: $color-secondary-400;
    }
  }

  &--selected {
    text {
      fill: #fff;
    }
    path {
      fill: $color-secondary-400;
    }
    &:hover {
      path {
        fill: $color-secondary-300;
      }
      text {
        fill: white;
      }
    }
  }
}
