@import 'src/assets/styles/tokens';

.gwb-aim {
  cursor: pointer;

  path {
    fill: #fff;
    transition: all 0.3s ease;
  }
  text {
    transition: all 0.3s ease;
  }

  &:hover {
    path {
      fill: $color-secondary-200;
    }
    text {
      fill: #fff;
    }
  }

  &--selected {
    text {
      fill: #fff;
    }
    path {
      fill: $color-secondary-200;
    }
    &:hover {
      path {
        fill: $color-secondary-100;
      }
    }
  }
}
