@import 'src/assets/styles/tokens';

.gwb-category {
  cursor: pointer;

  &__path,
  &__text {
    transition: $transition;
  }
  &__quote {
    &__circle {
      &--pink {
        fill: $color-primary-400;
        transition: $transition;
      }
      &--blue {
        fill: $color-secondary-400;
        transition: $transition;
      }
    }
    &:hover {
      .gwb-category__quote__circle--pink {
        fill: $color-primary-500;
      }
      .gwb-category__quote__circle--blue {
        fill: $color-secondary-500;
      }
    }
  }

  &__name {
    transition: $transition;
    &:hover {
      fill: $color-primary-400;
    }
  }
}
