.gwb-category {
  cursor: pointer;

  &__path,
  &__text {
    transition: all 0.2s ease;
  }
  &__quote {
    &:hover {
      .gwb-category__quote__circle {
        transition: all 0.2s ease;
        fill: pink;
      }
    }
  }
}

#inner {
  outline: 1px solid salmon;
}
#outer {
  outline: 1px solid chartreuse;
}
