@import 'src/assets/styles/tokens';

.gwb-category {
  cursor: pointer;

  &__path,
  &__text {
    transition: all 0.2s ease;
  }
  &__quote {
    &__circle {
      &--pink {
        fill: $color-primary-300;
        transition: all 0.2s ease;
      }
      &--blue {
        fill: $color-secondary-300;
        transition: all 0.2s ease;
      }
    }
    &:hover {
      .gwb-category__quote__circle--pink {
        fill: $color-primary-400;
      }
      .gwb-category__quote__circle--blue {
        fill: $color-secondary-400;
      }
    }
  }
}
