@import 'src/assets/styles/tokens';

.gwb-quote {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 16px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  background-color: rgba($color-secondary-800, 0.5);
  animation: fade-in 0.1s ease;

  @include break(576) {
    padding: 24px;
  }
  @include break(768) {
    padding: 32px;
  }

  &__popup {
    position: relative;
    overflow-y: scroll;
    max-height: 100%;
    padding: 24px;
    background-color: $color-primary-400;
    box-shadow: 2px 2px 80px rgba(black, 0.5);
    animation: fade-in 0.2s ease;

    @include break(576) {
      max-width: 420px;
    }

    &__header {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;

      &__title {
        margin-top: 0;
        color: white;
        font-size: 24px;

        @include break(576) {
          width: 90%;
          font-size: 32px;
        }
      }

      &__button {
        position: absolute;
        top: 24px;
        right: 16px;
        width: 24px;
        height: 24px;
        padding: 0;
        background-color: transparent;
        border: 0;

        @include break(576) {
          right: 24px;
        }

        svg {
          width: 24px;
          fill: white;
          transition: all 0.2s ease;
        }

        &:hover {
          cursor: pointer;
          svg {
            fill: $color-primary-50;
          }
        }
      }
    }

    &__content {
      &__quote {
        margin-bottom: 24px;
        padding: 16px;
        background-color: white;

        &:last-of-type {
          margin-bottom: 0;
        }
        &__text {
          margin: 0;
          font-size: 20px;
          text-align: center;
        }
      }

      &__end {
        display: flex;
        align-items: center;
        justify-content: center;

        &__dot {
          height: 8px;
          width: 8px;
          border-radius: 100%;
          background-color: white;
        }
      }
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
