$color-primary-50: #ffebf5;
$color-primary-100: #fac4e1;
$color-primary-200: #ee93c3;
$color-primary-300: #e672b0;
$color-primary-400: #e2007a;
$color-primary-500: #bc0267;
$color-primary-600: #960453;
$color-primary-700: #6f0640;
$color-primary-800: #49082c;

$color-secondary-50: #e2eaff;
$color-secondary-100: #77aeff;
$color-secondary-200: #3385ff;
$color-secondary-300: #1a5ec5;
$color-secondary-400: #00378b;
$color-secondary-500: #002d71;
$color-secondary-600: #002357;
$color-secondary-700: #00183d;
$color-secondary-800: #000e23;

$breakpoints: (
  576: 576px,
  768: 768px,
  1024: 1024px,
  1440: 1440px,
) !default;

@mixin break($breakpoint) {
  @media (min-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}

$transition: all 0.2s ease;

$box-shadow: 2px 2px 80px rgba(black, 0.5);

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
